/* Global Styles */

html,
body {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(187, 29, 29);
  font-weight: 5000;
  font-size: 100px;
  line-height: 100px;
  text-align: left;
  vertical-align: center;
  padding: 100px 0px 0px 100px;
  margin: 0px;
}
h2 {
  font-size: 29px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 30px;
  padding: 20px 80px 20px 80px;
}
img {
  width: 100%;
  display: block;
}
figure {
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 15;
  }

  main > article > header > figure > img {
    max-width: 100%;
  }
  main > article > header > section > h1 {
    padding: 0px 0px;
    text-align: left;
    margin: 0;
    font-size: 50px;
    line-height: 60px;
  }
  main > article > header > section > p {
    padding: 0px 0px;
    text-align: left;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
  }
  main > article > section > header > h2 {
    font-size: 20px;
    padding: 0px;
  }
  main > article > section > header > h2 > p {
    font-size: 20px;
    padding: 0px;
  }
  main > article > section > p {
    font-size: 15px;
    padding: 0px;
  }
  img.ourwork {
    height: 200px;
  }

  div > section > header > h2 {
    font-size: 20px;
  }

  div > section > header > p {
    font-size: 15px;
    padding: 20px;
  }
  h2.faq {
    font-size: 20px;
  }

  h2.faq {
    font-size: 20px;
  }
  button.accordion {
    font-size: 20px;
  }
  div.panel > p {
    font-size: 15px;
    padding: 15px;
  }

  footer > p {
    font-size: 15px;
    padding: 10px;
  }
  .navbar a:hover,
  .subnav:hover .subnavbtn {
    background-color: white;
    text-decoration-line: underline;
    text-decoration-color: red;
  }
  #hamburger {
    height: 20px;
  }

  body > main > article > header > section > figure > img {
    height: 200px;
  }
  main > article > header {
    background: linear-gradient(#ebd2bb, #d2b096);
    color: white;
    padding: 0 20px;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .safesex {
    background: linear-gradient(#ebd2bb, #d2b096);
    color: white;
    padding: 0 0px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  iframe {
    max-width: 100%;
  }

  main > article > header.grid-1-2 {
    grid-gap: 0px;
  }
}

/* Section Styles */

main > article > section {
  padding: 65px 20px;
}

@media (min-width: 768px) {
  main > article > section > header > p {
    max-width: 50%;
  }
  main > article > section > h2 {
    padding: 65px 40px;
    text-align: center;
    margin: 0 auto;
  }
}

/* Grid Styles */

/* only applied on desktop*/
@media (min-width: 768px) {
  /* this is a grid w two columns*/
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}

/* only applied on desktop*/
@media (min-width: 768px) {
  /* this is a grid w two columns*/
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Grid Styles */

/* only applied on desktop*/
@media (min-width: 768px) {
  /* this is a grid w 4 columns*/
  .grid-1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

/* only applied on desktop*/
@media (min-width: 768px) {
  /* this is a grid w 4 columns*/
  .grid-1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Card Styles */
.card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}

.card section {
  padding: 20px;
}

.card p {
  font-size: 17px;
  padding: 0px;
}

/* only applied on desktop*/
@media (min-width: 768px) {
  /* image should fill figure container of card that also has 2 columns*/
  .card.grid-1-2 img {
    object-fit: cover;
    height: 100%;
  }
  .card.grid-1-2 section {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  /* image should fill figure container of card that also has 4 columns*/
  .card.grid-1-4 img {
    object-fit: cover;
    height: 10%;
  }
  .card.grid-1-4 section {
    padding: 40px;
  }
  main > article > header {
    background: linear-gradient(#ebd2bb, #d2b096);
    color: white;
    padding: 0 20px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

/* Header Styles */

.blueheader {
  background: linear-gradient(#002933, #002933);
}

.pinkheader {
  background: #f39da6;
}

main > article > header h1 {
  margin-top: 0px;
}

main > article > header a {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}
main > article > header img {
  opacity: 1;
}

main > article > header.blueheader img {
  opacity: 1;
  height: calc(100vh - 663px);
  width: auto;
}

main > article > header.blueheader.grid-1-2 {
  grid-gap: 40px;
}

@media (min-width: 768px) {
  main > article > header {
    height: unset;
    padding: 0px;
  }
  main > article > header.grid-1-2 {
    grid-gap: 100px;
  }
}

/* the main header should have a grid gap of 40px*/

main > article > header > figure {
  display: flex;
  align-items: center;
}

/* Button Styles */

/* Navbar Styles */

.navbar {
  overflow: hidden;
  background-color: white;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white;
}

/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font-family: inherit;
  margin: 0;
  align-items: right;
  text-align: right;
}

.subnav2btn {
  float: right;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: red;
}

.subnav2btn:hover {
  background-color: white;
  text-decoration-line: underline;
  text-decoration-color: red;
  position: relative;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.subnav2-content {
  display: none;
  position: relative;
  left: 0;
  background-color: white;
  width: 100%;
  align-items: baseline;
  z-index: 0;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: black;
  text-decoration: none;
}

.subnav2-content a {
  float: right;
  color: black;
  text-decoration: none;
}

/* Add a white background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav2-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.subnav-content:hover .subnav2-content {
  display: block;
}

/*end*/

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#logo {
  height: 30px;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 100;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#hamburger {
  display: none;
}

#overlay {
  display: none;
}
/* navigation mobile style*/

@media (max-width: 767px) {
  nav {
    padding: 0px 0px 0px 20px;
  }
  nav ul {
    display: none;
    max-width: 60vw;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    padding: 20px;
  }
  #hamburger {
    display: block;
    height: 30px;
    width: auto;
    z-index: 1;
    float: right;
    align-content: right;
    align-items: initial;
  }

  #overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  #overlay.active {
    display: block;
  }
}

/* navigation desktop style*/
@media (min-width: 768px) {
  nav {
    padding: 0 40px;
  }
  nav ul {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
  }
}

/*footer styles */

footer {
  background: black;
  color: white;
  padding: 20px 20px;
}

footer a {
  color: white;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(226, 208, 105);
  color: black;
  font-size: 30px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: rgb(255, 255, 255);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
